<h1>Hi, Dude. Welcome to Stupid Coaching!</h1>
<form action="answer" method="get">
  <div class="container form-group p-3">
    <label for="user-input">Your polite question to the coach:</label>
    <input class="form-control mb-3 d-table" type="text" name="user-input" placeholder="Anything really .. ">
    <input class="form-control mb-3 d-table btn btn-primary w-20px" type="submit" value="Ask!">
  </div>
</form>
